@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Web design project. Bank account ledger. Individual user accounts. 
    Each user can create accounts of various types (e.g. Checking, Savings). 
    They can then view the account details, edit the type and name, delete
    the account, or view and add transactions. Transactions include making
    deposits and withdrawls.</p>
