@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    27500 SW Parkway Ave<br />
    Wilsonville, OR 97070<br />
    <abbr title="Phone">P:</abbr>
    503.821.1250
</address>

<address>
    <strong>Author:</strong>   <a href="mailto:aaron.day@oit.edu">aaron.day@oit.edu</a><br />
    <strong>GitHub:</strong> <a href="https://github.com/Aaron-Day/WebDesign.git">Web Design: Project</a>
</address>