
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="jumbotron text-center">
    <h1>My First Bootstrap Page</h1>
    <p>Resize this responsive page to see the effect!</p> 
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3><ins>Page Layout</ins></h3>
            <p>Page Header with three columns underneath</p>
        </div>
        <div class="col-sm-4">
            <h3><ins>Resize</ins></h3>
            <p>Text in header and columns <mark>wrap and shrink</mark> as necessary</p>
            <p>Columns turn to rows</p>
            <p class="text-success">Nav bar links turn to dropdown list</p>
        </div>
        <div class="col-sm-4">
            <h3><ins>CSS Classes</ins></h3> 
            <p>jumbotron: <span class="alert-danger">not listed on those pages</span> but it basically makes a large textbox with a shaded background</p>
            <p class="text-center">text-center: centers the text inside the container and wraps and resizes it as necessary</p>
            <p>container: provides a responsive fixed width container</p>
            <p>row: places contents in a single row for the display</p>
            <p><abbr title="column">col</abbr>-<abbr title="small">sm</abbr>-4: creates a column container spanning 4/12 columns and optomized for small displays >= 768px wide</p>
        </div>
    </div>
</div>